<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyProgress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFB1BD3C2E3B39550005B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFB1BD4D2E3B39560005B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFB1BD572E3B39560005B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
